<p><%= flash[:error] unless flash[:error].blank? %></p>

<%= form_for([@user,@article,@comment,@comment.replys.build],:remote => true) do |f| %>
 	<div class="form-group">
    <div class="col-md-2">
    	<%= f.text_area :body,class:"form-control" %>
  	</div>
  </div>	
  <br>
  <br>
  <br>
 	<div class="form-group">
    <%= f.submit "Create Reply" ,class:"btn btn-info col-md-1" %>
  </div>
<% end %>

