
<%replies.each do |reply| %>
  <p>
 
    <strong style="color:#0066cc;">Reply By:</strong>
    <%@cname=User.find(reply.user_id)%>
    <%=@cname.name + " " + @cname.surname%>
  </p>
  <p><%= reply.body %></p>
<%end%>
       