
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @user.name %></h1>
    <p> Thank you for  request for approve the article.</p>
    
    <p> So your Article had been <%= @article.status%></p>
   
    
    <p>Thanks </p>
  </body>
</html>