<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello </h1>
    <p> kindly approve my article.</p>
    
    <p> Article </p>
    <p>Title <%= @article.title%></p>
    <p>	Text <%= @article.text%></p>
	
   
    
    <p>Thanks </p>
  </body>
</html>