<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello </h1>
    <%@cname=User.find(@comment.user_id)%>
    <p><%=@cname.name%> Commented on your article</p>
    
    <strong>Comment:</strong>
    <p><%=@comment.body%></p>

    <p>
      <%if @comment.avatar.present? %>
        <strong>File:</strong>
        <%= link_to image_tag(@comment.avatar.url(:med)), @comment.avatar.url %>
      <%end%>
    </p>
   
    
    <p>Thanks </p>
  </body>
</html>