<div class="row"> 

	<%= button_to "Create New Article", new_user_article_path(params[:id]),method: :get,class:"btn btn-info col-md-4" %>
		
	<%= button_to "View My Articles" , user_articles_user_articles_path(params[:id]),method: :get,class:"btn btn-success col-md-4"%>
		
	<%= button_to " List of Request Articles",articles_list_of_requested_articles_path(),method: :get,class:"btn btn-warning col-md-4"%>
		
</div>
