
<div class="row">
	<div class="btn-group">
		<div class="col-md-4">
			<%= button_to "Create New Article", new_user_article_path(params[:id]), method: :get , class:"btn btn-primary"%>
		</div>
		<div class="col-md-4">

		<%= button_to "View My Articles",  user_articles_user_articles_path(params[:id]) , method: :get , class:"btn btn-primary"%>
		</div>
		<div class="col-md-4">

		<%= button_to "View Approved Article",articles_list_of_approved_articles_path(), method: :get, class:"btn btn-primary" %>
		</div>
	</div>
</div>
