// Place all the styles related to the Session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.login
{
	background-color: #e6e6ff;
	width:20%;
}

#head
{
	color:#291657;
}

#footer
{
	color:#000080
}